CAPITALIZER,
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
ul,
table,
[class*="Vorlage_Überschriftensimulation"],
.mw-page-title-main,
div[style*="font-size:130%"],
.toc,
[class*="menu__item"],
[summary="Taxobox"],
.tagline,
.breadcrumb-nav-container,
.wikitable,
.infobox
{
  text-transform: capitalize !important;
}

HIDDEN-FORCED,
[class*="open-block open-block"],
[title="Google translate navigation"],
div[class="eg-machine-translation-page-status missing"],
.eg-machine-translation-banner,
.banner-container,
.page-actions-menu,
#goog-gt-,
.edit-page
{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}

BODY-FIX,
body
{
margin-top: 0px !important;
}

.read-more-container{
  min-height:0px !important;
}

section.open-block{
 display:block !important;
}

BLUEY,
html,
body,
header,
article,
div,
main,
app,
table,
button,
label,
footer,
input
{

background-color:#cce9ff !important;
  
}

img,
svg,
[style*="background-image:url"i]
{
filter: invert(1) sepia(0.5) invert(1);
}