CAPITALIZER,
[title="Google translate navigation"],
[class*="Vorlage_Überschriftensimulation"],
.mw-page-title-main,
div[style*="font-size:130%"]
{
  text-transform: capitalize;
}

HIDDEN-FORCED
{
   display: none !important;
   visibility: hidden !important;
   opacity: 0 !important;
   max-height: 0px !important;
   height: 0px !important;
   transform: scale(0,0) !important;
   position: absolute !important;
   z-index: -99 !important;
}